[class^="icon-"], [class*=" icon-"] {
  font-size: 26px;
}
.white{
  color: #fff;
}
.paleRed{
  color: #E58983;
}
.red{
  color: #D33A31;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
