[class^="icon-"], [class*=" icon-"] {
  font-size: 26px;
}

.white {
  color: #fff;
}

.red {
  color: #D33A31;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex1 {
  flex: 1;
}

/*列表*/
.list-wrapper {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-bottom: 1px solid #DADCDD;
}
.icon-List2.list-icon{
  height:60px;
  line-height: 60px;
  padding: 0 15px;
  color: #AAABAC;
  font-size: 22px;
}
.icon-List2.list-icon:hover{
  background-color: #BFC0C1;
}
.count{
  font-size: 12px;
  color: #797A7B;
}
/*遮罩层*/
.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 50;
}

/*动画效果*/
.fade-enter-active, .fade-leave-active {
  transition: all .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

a{
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}

/*推荐页面内容*/
.recommend-content{
  position: fixed;
  top:90px;
  bottom: 50px;
  left:0;
  right: 0;
  overflow: auto;
}

