@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?18qfjd');
  src:  url('fonts/icomoon.eot?18qfjd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?18qfjd') format('truetype'),
    url('fonts/icomoon.woff?18qfjd') format('woff'),
    url('fonts/icomoon.svg?18qfjd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-MV:before {
  content: "\e915";
}
.icon-Play4:before {
  content: "\e916";
}
.icon-Multiselect:before {
  content: "\e918";
}
.icon-Correct:before {
  content: "\e933";
}
.icon-Add2:before {
  content: "\e914";
  color: #515151;
}
.icon-SignOut:before {
  content: "\e913";
}
.icon-Online:before {
  content: "\e900";
}
.icon-Drive:before {
  content: "\e917";
}
.icon-Cloud:before {
  content: "\e936";
}
.icon-Clock:before {
  content: "\e93e";
}
.icon-Add1:before {
  content: "\e930";
}
.icon-SongSheet:before {
  content: "\e931";
}
.icon-Delete1:before {
  content: "\e932";
}
.icon-Link:before {
  content: "\e934";
}
.icon-Delete2:before {
  content: "\e935";
}
.icon-PlayList:before {
  content: "\e926";
}
.icon-Play3:before {
  content: "\e92f";
}
.icon-DownArrow:before {
  content: "\e92d";
}
.icon-RightArrow:before {
  content: "\e92e";
}
.icon-Collection:before {
  content: "\e929";
}
.icon-MusicRadio:before {
  content: "\e92a";
}
.icon-Download:before {
  content: "\e92b";
}
.icon-RecentlyPlayed:before {
  content: "\e92c";
}
.icon-Search:before {
  content: "\e928";
}
.icon-Music:before {
  content: "\e90f";
}
.icon-Member:before {
  content: "\e901";
}
.icon-Set:before {
  content: "\e919";
}
.icon-NightMode:before {
  content: "\e91a";
}
.icon-Timing:before {
  content: "\e91b";
}
.icon-Sign:before {
  content: "\e91c";
}
.icon-Play:before {
  content: "\e91d";
}
.icon-Message1:before {
  content: "\e91e";
}
.icon-NextSong:before {
  content: "\e91f";
}
.icon-PrevSong:before {
  content: "\e920";
}
.icon-Message2:before {
  content: "\e902";
}
.icon-EmptyLove:before {
  content: "\e921";
  color: #515151;
}
.icon-ShazamEncore:before {
  content: "\e922";
}
.icon-realLove:before {
  content: "\e923";
  color: #d22f33;
}
.icon-Skin:before {
  content: "\e924";
}
.icon-Descending:before {
  content: "\e925";
}
.icon-Me1:before {
  content: "\e927";
}
.icon-Me2:before {
  content: "\e905";
}
.icon-List2:before {
  content: "\e904";
}
.icon-Horn:before {
  content: "\e903";
}
.icon-List3:before {
  content: "\e90b";
}
.icon-Love1:before {
  content: "\e90c";
}
.icon-Random:before {
  content: "\e90a";
}
.icon-Loop1:before {
  content: "\e90d";
}
.icon-Share:before {
  content: "\e90e";
}
.icon-Nearby:before {
  content: "\e912";
}
.icon-ShoppingCart:before {
  content: "\e906";
}
.icon-Loop2:before {
  content: "\e907";
}
.icon-Wangyiyun:before {
  content: "\e908";
}
.icon-Play2:before {
  content: "\e909";
}
.icon-Message3:before {
  content: "\e910";
}
.icon-Return:before {
  content: "\e911";
}
